.custom-scroll {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: black; /* Scrollbar track and thumb color for Firefox */
}

/* Webkit (Chrome, Safari) */
.custom-scroll::-webkit-scrollbar {
  height: 0px; /* Set scrollbar height */
}
