@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: Inter;
  --font-mont: Montserrat;
  /* Fonts */

  /* Colors */
  --color-main: #ae752c;
  --color-paragraph: #808080;
  /* Colors */

}
